
/* MAJOR ELEMENTS */
body {
  min-width: 400px;
  background-color: black;
  font-family: 'Jockey One', 'Roboto Condensed', serif;
  margin: 0;
}
img{
  max-width: 100%;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80px repeat(1, minmax(0,1fr));
  text-align: center;
  height: auto;
  position: relative;
}
span.capitalize {
  text-transform: uppercase;
}
a {
  text-decoration: none; 
  color: black;
}
/* MENU */
.heading_container {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 80px;
  background-color: black;
  display: grid;
  grid-column: span 2;
  grid-row: 1;
  display: grid;
  z-index: 8;
  grid-template-columns: 80% 20%;
}
h1 {
  color: white;
  margin: 0;
  align-self: center;
  letter-spacing: 1.5dvw;
  word-spacing: 0.5rem;
  padding-left: 10px;
}
.button_animation {
  width: 40px;
  height: 40px;
  opacity: 0;  
  z-index: 10;
  position: fixed; 
  top: 15px;
  right: 34px;
}
.nav_button {
  background: transparent;
  border: 0;
  height: 40px;
  width: 40px;
  z-index: 9;
  position: fixed;
  margin-top: 10px;
  top: 5px;
  right: 35px;
}   
button span {
  width: 30px;
  height: 5px;
  background-color: $yellowColor;
  border-radius: 4px;
  margin-bottom: 3px;
  display: block;
  position: relative;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
} 
input.button_animation:checked + .menu .heading_container button span:nth-child(1) {
  transform: rotate(45deg);
}
input.button_animation:checked + .menu .heading_container button span:nth-child(2) {
  opacity: 0;
}
input.button_animation:checked + .menu .heading_container button span:nth-child(3) {
  transform: rotate(-45deg);
}
input.button_animation:checked + .menu .heading_container button span {
  position: absolute;
  top: 1rem;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
input.button_animation:checked + .menu nav {
  display: flex;
}
.menu {
  grid-column: span 2;
  height: 100%;
  width: auto;
  display: inherit;
  position: relative;
}
nav {
  display: none;
  background-color: $purpleColor;
  height: 100%;
  min-height: 450px;
  width: 100%;
  grid-column: span 2;
  grid-row: 1;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 5;
  position: fixed; 
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
nav ul li a{
  color: #FFFFFF;
  font-size: clamp(3rem, 10vw, 5rem);
  padding: 2rem;
  transition: all 0.4s;
  line-height: 15vh;
  min-height: 380px;
}
/* PAGE 1 */
.page1_container {
  border-top: 10px solid $yellowColor;
  grid-column: span 2;
  grid-row: 2 / span 1;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}
.page1_headline {
  font-weight: 400;
  display: block;
  height: 200px;
  width: 400px;
  position: relative;
  z-index: 0;
  margin: 0;
}
.tahini {
 font-size: 5rem;
 z-index: 2;
 color: $greenColor;
 font-weight: 500;
 position: relative;
}
.chickpeas {
 font-size: 2rem;
 z-index: 0;
 color: $yellowColor;
 position: absolute;
 top: 94px;
 left: 115px;
}
.drizzle {
  font-size: 2rem;
  color: $purpleColor;
  position: absolute;
  top: 22px;
  right: 107px;
}
.page1_top_text {
  width: 100%;
  height: auto;
}
.page1_top_text p { 
  padding: 1rem;
  font-size: clamp(1.4rem, 5vw, 5rem);
  font-weight: 500;
  color: $greenColor;
}
.container_img_arrow {   
  position: relative;
}
.sallad {
 object-fit:contain;
 max-height: 100%;
}
.white_arrow {
  height: 30px;
  width: 30px;
  transform: rotate(90deg);
  position: absolute;
  left: 20px;
  bottom: 20px;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.sallad_info_scroll_placement {
 position: absolute;
 bottom: 80px;
}
.page1_bottom_part {
  background-color: white;
  border-top: 10px solid $yellowColor;
  color: $purpleColor;
  padding: 1rem;
  font-size: clamp(1.4rem, 5vw, 5rem);
  font-weight: 500;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.page1_bottom_part p {
  padding: 10px;
  margin: 0;
}
.explore {
  padding: 10px;
  font-size: clamp(1.4rem, 3vw, 2rem);
  font-weight: 500;
  width: 40vw;
  transition: all 0.4s;
}
.black_arrow {
  height: 25px;
  width: 25px;
  transform: rotate(90deg);
  bottom: -5px;
  position: relative;
}
/* PAGE 2 */
.page2_container {
  background-color: $yellowColor;
  grid-column: span 2;
  grid-row: 3 / span 1;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  padding-top: 60px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}
.menu_images {
  display: flex;
  gap: 4px;
  align-items: center;
  height: max-content;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 20px;
}
.menu_images figure {
  margin-block: 5px;
  margin-inline: 5px;
  height: 80%;
  width: 100%;
}
.menu_images figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
} 
.page2_menu {
  display: flex;
  flex-grow: 1;
  flex-direction: column;  
  padding: 10px;
  gap: 5px;
  padding: 4px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}
.page2_menu article {
  display: grid;
  grid-template-columns: 1fr 1.5fr 15%;
  background-color: white;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: fit-content;
  text-align: start;
  align-items: center;
  height: 100%;
  max-height: 100%;
}
.page2_menu article h3, .page2_menu article div h3 {
  font-size: clamp(1.5rem, 4vw, 8rem);
  padding-left: 10px;
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}
.page2_menu article div {
display: flex;
flex-grow: 1;
flex-wrap: wrap;
align-items: center;
margin-right: 10px;
}
.page2_menu article p {
  font-size: clamp(1rem, 3vw, 10rem);
  margin: 0;
}
.price {
  text-align: end;
  padding-right: 10px;
}
.page2_menu article p.new, 
.page2_menu article p.vegan, 
.page2_menu article p.popular {
  font-size: clamp(0.8rem, 2vw, 5rem);
  padding: 1px;
  height: auto;
  width: 15vw;
  text-align: center;
  font-family: serif;
  font-weight: 500;
  display: inline;
  margin: 10px;
}
.new { 
  background-color: $purpleColor;
  transform: rotate(2deg);
  span {
    display: inline-block;
    transform: rotate(-2deg); 
  }
}
.vegan {
  background-color: $greenColor;
  transform: rotate(-3deg);
  span {
    display: inline-block;
    transform: rotate(3deg); 
  }
}
.popular {
  background-color: $yellowColor;
}
/* PAGE 3 */
.page3_container {
  border-top: 10px solid white;
  background-color: $greenColor;
  grid-column: span 2;
  grid-row: 4 / span 1;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding-top: 60px;
  justify-content: center;
  justify-items: center;
  align-items: center;  
}
.contact_form {
  height: auto;
}
.contact_form form fieldset {
  font-size: clamp(1.4rem, 7vw, 15rem);
  padding-top: 3vh;
  border: none;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: nowrap;
}
.contact_form form fieldset h2 {
  margin-block-end: 0;
}
.contact_form form fieldset label {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 7px;
  justify-items: start;
  align-items: center;
  text-align: start;
  padding-bottom: 1rem;
}
.contact_form form fieldset label span {
  display: block;
}
.contact_form form fieldset label input {
  height: auto;
  width: 100%;
  border: none;
  border-radius: 15px;
  justify-self: end;
  color: $grayColor;
  padding-inline-start: 10px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0.2;
  color: $grayColor;
}
input::placeholder{

  color: $grayColor;
}
.contact_form_buttons {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.reset, .request {
  width: 47%;
  border: none;
  border-radius: 15px;
  margin: 5px;
  transition: all 0.2s;
}
.reset:active, .request:active {
  opacity: 0.5;
  color: white;
} 
.reset {
  background-color: $purpleColor;
}
.request {
  background-color: $yellowColor;
}
.contact_info_container {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 40px;
}
.contact_info_background {
  background-image: url(/assets/photos/Mobile/table_mobile.webp);
  background-attachment: scroll;
  background-position: center;
  filter: blur(2px);
  width: 90vw;
  min-width: 300px;
  aspect-ratio: 1 / 1;
}
.contact_info_text {
  z-index: 2;
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 5px;
  max-width: 80vw;
  position: absolute;
  align-items: center;
  font-size: clamp(1rem, 7vw, 10rem);
  color: $blueColor;
  text-shadow: -3px -3px 0px black;
  text-align: start;
  padding-top: 10%;
}
.contact_info_text p{
  margin-bottom: 20px;
  margin-top: 20px;
}
.contact_info_text figure {
  display: flex;
  flex-grow: 1;
}
.contact_figure {
  margin-block: 0px;
  margin-inline: 0px;
  display: inline;
  height: 100%;
}
.contact_info_icon { 
  filter: drop-shadow(-3px -3px 0px black); 
  height: auto;
  width: clamp(1rem, 15vw, 10rem);
  margin-bottom: 0;
  padding: 0;
}
.pop_up {
  width: 100%;
  height: auto;
  background-color: $purpleColor;
  grid-column: span 2;
  grid-row: 5 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.pop_up p {
  margin-block-end: 0;
  font-size: clamp(1.5rem, 4vw, 8rem);
  color: white;
  margin-top: 20px;
  display: block;
  width: 100%;
}
.pop_up_buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.pop_up_buttons button {
  width: 40%;
  border-radius: 15px;
  margin: 30px;
  border: none;
  font-size: clamp(2rem, 4vw, 8rem);
  transition: all 0.2s;
}
.pop_up button:active {
  opacity: 0.5;
  color: white;
}
.decline_button {
  background-color: $yellowColor;
}
.accept_button {
  background-color: $greenColor;
}