input:hover {
  cursor: pointer;
}
input.button_animation:hover + .menu .heading_container button span:nth-child(1) {
  right: 0.5vw;
}
input.button_animation:hover + .menu .heading_container button span:nth-child(2) {
  left: 0.5vw;
}
input.button_animation:hover + .menu .heading_container button span:nth-child(3) {
  right: 0.5vw;
}
.white_arrow:hover {  
  bottom:10px;
}
a:hover {
  text-decoration: underline;
}
input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 0.4;
  cursor: pointer;
}
.reset:hover, .request:hover, .pop_up button:hover {
  opacity: 0.7;
  cursor: pointer;
} 