/* 640
  1024
  1280*/
.page1_container{
  border-top: 25px solid $yellowColor;
  grid-column: span 2;
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: column;
  width: 1fr;
  height: 1fr;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}


.page1_headline{
  font-weight: 400;
  display: block;
  height: 200px;
  width: 400px;
  position: relative;
  z-index: 0;
  margin: 0;
}
.tahini{
 font-size: 5rem;
 z-index: 2;
 color: $greenColor;
 font-weight: 500;
 position: relative;
}
.chickpeas{
 font-size: 2rem;
 z-index: 0;
 color: $yellowColor;
 position: absolute;
 top: 95px;
 left: 115px;
}
.drizzle{
  font-size: 2rem;
  color: $purpleColor;
  position: absolute;
  top: 22px;
  right: 107px;
}


.page1_top_text{
  width: 100vw;
  height: auto;
  line-height: 2rem;
}
.page1_top_text p{ 
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: $greenColor;
}


.container_img_arrow {   //FORTSÄTT HÄR! 
  display: block;
  position:relative;
}
.sallad{
 height: auto;
 width: 100%;
 object-fit: contain;
}
.white_arrow{
  height: 30px;
  width: 30px;
  transform: rotate(90deg);
  position: absolute;
  left: 20px;
  bottom: 20px;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.white_arrow:hover{ //Funkar inte pga menyn ligger över. Måste fixas. 
  bottom:10px;
}

.page1_bottom_part{
  background-color: white;
  color: $purpleColor;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2rem;
  position: relative;
  width: 100%;
}

.page1_bottom_part p{
  padding: 10px;
}

.explore{
  color: black;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: 500;
  width: 40vw;
}

.black_arrow{
  height: 25px;
  width: 25px;
  transform: rotate(90deg);
  position: relative;
  bottom: -5px;
}
