
div.grid_layout main {
  grid-column: 2/ span 13;
  background-color: black;
}


p{
  color: rgb(109, 47, 255);
}

h2.tahini {
  color: greenyellow;
}

p.chickpeas{
  color: yellow; //CHANGE - tillfällig!!
}

p.drizzle{
  color: purple; //CHANGE - tillfällig!!
}