/* 640
  1024
  1280*/

.page3_container{
  border-top: 10px solid white;
  background-color: $greenColor;
  grid-column: span 2;
  grid-row: 4 / span 1;
  display: flex;
  flex-direction: column;
  width: 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;  
}


.contact_form{
  height: auto;
  width: 100%;
}
.contact_form form fieldset{
  height: auto;
  width: auto;
  font-size: 2rem;
  padding-top: 3rem;
  border: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.contact_form form fieldset h2{
  margin-block-end: 0;
}
.contact_form form fieldset label{
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: start;
  align-items: center;
  text-align: start;
  padding-bottom: 1rem;
}
.contact_form form fieldset label input{
  height: auto;
  width: 20rem;
  border: none;
  border-radius: 15px;
  display: block;
}
.contact_form_buttons{
  width: 100%;
  padding-top: 2rem;
}
.reset, .request{
  background-color: rgb(49, 33, 13);
  width: 47%;
  border: none;
  border-radius: 15px;
  margin: 5px;
}
.reset{
  background-color: $purpleColor;
}
.request{
  background-color: $yellowColor;
}

.contact_info_container{
  width: 33rem;
  height: 33rem;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
}

.contact_info_background{
  background-image: url(/assets/photos/Mobile/table_mobile.webp);
  background-attachment: scroll;
  background-position: center;
  filter: blur(2px);
  width: 33rem;
  height: 33rem;
  display: grid;
  position: absolute;

}
.contact_info_text{
  color: $blueColor;
  text-shadow: -3px -3px 0px black;
  z-index: 2;
  display: grid;
  grid-template-columns: 30% 50%;
  grid-template-rows: repeat(1, 1fr);
  position: absolute;
  font-size: 2.5rem;
  align-items: center;
  justify-items: start;
}
.contact_info_container figure{
  margin-inline-start: 40px;
}

.contact_info_icon { 
  filter: drop-shadow(-3px -3px 0px black); 
  height: auto;
  width: 5rem;
  padding-left: 2rem;
  margin-bottom: 0;
}


.pop_up{
  width: 100%;
  height: auto;
  background-color: $purpleColor;
  margin-top: 20px;
}
.pop_up p{
  margin-block-end: 0;
  font-size: 1.2rem;
  color: white;
}
.pop_up button{
  width: 30%;
  border-radius: 15px;
  border:none;
  margin: 10px;
  height: auto;
  font-size: 2rem;
}
.decline_button{
  background-color: $yellowColor;
}
.accept_button{
  background-color: $greenColor;
}